{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="main_page_registration">
  <div class="h2_registr">
      <p>Let’s make your wish come true</p>
  </div>
  <div class="h3_registr">
      <p>Register to make wishlists</p>
  </div>
  <div class="h4_registr">
      <p>Already a member? <a href="#">Log in</a></p>
  </div>
  <div class="form_registr">
      <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
          {% with classes=field.css_classes %}
            {{ field|add_class:"myInput"|add_class:classes }}
            <div class="errorMessageField">
              {% for error in field.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endwith %}
        {% endfor %}
        <div class="checkbox">
          <input type="checkbox" id="user_agreement_checkbox" name="user_agreement" required checked>
          <p>I accept the <a href="#">User agreement</a></p>
        </div>
        <div id="errorMessageCheckbox"></div>
        <button type="submit" id="submit_button" <a href="#">SIGN UP</a></button>
      </form>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var inputFields = document.querySelectorAll(".myInput");

    inputFields.forEach(function(inputField) {

        if (inputField.value.trim() !== "") {
            inputField.classList.add("white-background");
        } else {
            inputField.classList.remove("white-background");
        }

        inputField.addEventListener("input", function() {
            if (this.value.trim() !== "") {
                this.classList.add("white-background");
            } else {
                this.classList.remove("white-background");
            }
        });
    });
  });
</script>
{% endblock content %}
