{% extends "base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'css/stylesregistration.css' %}">{% endblock styles %}
{% block content %}
<div class="main_page_registration">
  <div class="h2_registr">
      <p>Let’s make your wish come true</p>
  </div>
  <div class="h3_registr">
      <p>Register to make wishlists</p>
  </div>
  <div class="h4_registr">
      <p>Already a member? <a href="#">Log in</a></p>
  </div>
  <div class="form_registr">
      <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
          <div id="errorMessageName">{{ field.errors.as_text }}</div>
        {% endfor %}
        <div class="checkbox">
          <input type="checkbox" id="user_agreement_checkbox" name="user_agreement">
          <p>I accept the <a href="#">User agreement</a></p>
        </div>
        <div id="errorMessageCheckbox"></div>
        <button type="submit" id="submit_button" <a href="#">SIGN UP</a></button>
      </form>
  </div>
</div>
{% endblock content %}
