header {
  position:fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100px;
  background-color: #3D4FC5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

header .logo_header img {
  margin-right: 185px;
}

.personal-pages {
  display: flex;
  width: 735px;
}

.text-div {
  display: inline-block;
  white-space: nowrap;
  margin-right: 60px;
  width: 146px;
}

.text-div a {
    text-decoration: none; /* Убрать подчеркивание */
    color: white;
    text-transform: uppercase;
}

@media (max-width: 750px) {
    header img {
      display: none;
    }
}

#menu-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 30px 120px 30px 60px;
}

#popup-menu {
    position: absolute;
    top: 110%;
    right: 90%;
    width: 236px;
    height: 240px;
    background-color: #3D4FC5;
    display: none;
    border-radius: 30px;
    border: 1px solid #000000;
    padding: 0;
}

#popup-menu ul {
    width: 204px;
    height: 208px;
    margin-top: 16px;
    padding: 0;
    margin-left: 16px;
}

#popup-menu li {
    width: 204px;
    height: 50px;
    padding: 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

#popup-menu li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

#popup-menu li:hover {
    background-color: #263281;
    width: 204px;
    height: 50px;
}

#menu-icon {
    cursor: pointer;
}

.main_page {
    margin-top: 180px;
    margin-left: 120px;
    justify-content: center;
    align-items: center;
    font-family: Rubik;
}

.john_doe {
    display: flex;
    width: 195px;
    margin-top: 180px;
    margin-right: 1125px;
}

.name_birthday {
    width: 123px;
    height: 56px;
}

.name p {
    margin-bottom: 0px;
    color: rgb(1, 0, 0);
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.image_name img {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}

.birthday {
    display: flex;
}

.birthday p {
    margin-top: 5px;
    margin-bottom: 0px;
    color: rgb(119, 119, 119);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.birthday img {
    width: 16px;
    height: 26px;
    margin-right: 5px;
}

.follow {
    display: flex;
    margin-top: 14px;
}

.follow a {
    margin-right: 16px;
    color: rgb(61, 79, 197);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.h2 {
    margin-top: 24px;
    color: rgb(1, 0, 0);
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.view_wishes a {
    margin-top: 20px;
    color: rgb(61, 79, 197);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

.container_wishlist {
    display: flex;
    width: 1500px;
    margin-top:24px;
    flex-wrap: wrap;
}

.wishlist-block {
    width: 384px;
    height: 256px;
    margin-right: 24px;
    margin-top: 24px;
    border: 1px solid rgb(61, 79, 197);
    border-radius: 5px;
    background-color: rgb(249, 249, 249);
}

.wishlist-block .days_timer p {
    margin-top: 16px;
    margin-left: 260px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.wishlist-block .title {
    margin-left: 24px;
    margin-top: 8px;
    color: rgb(61, 79, 197);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.wishlist-block .date p {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
}

.wishlist-block .quantity_wishes p {
    margin-left: 24px;
    margin-top: 78px;
    margin-bottom: 0px;
    color: rgb(1, 0, 0);
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.wishlist-block .wish_to_book p {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    color: rgb(1, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
