* {
    background-color:  #F5F5F5;
}

body {
    margin: 0px;
}

#header_container {
    max-height: 100px;
    background-color: #3D4FC5;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0 20px;
}

.logo_header {
    background-color: #3D4FC5;
}

.logo_header img {
    margin-left: 120px;
    margin-top: 10px;
    background-color: #3D4FC5;
}

.text_header_2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 61px 0 190px;
    background-color: #3D4FC5;
    flex-grow: 1; 
}

.text_header_2 ul {
    display: flex;
    justify-content: flex-start; 
    align-items:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu_header {
    background-color: #3D4FC5;
    width: 100%;
}

.menu_header li {
    padding-right: 60px;
    background-color: #3D4FC5
}

.menu_header a {
    background-color: #3D4FC5;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
}

.menu_header a:hover {
    text-decoration: underline;
}

.menu_header a:focus {
    font-weight: bold;
    text-decoration: none;
}

.menu_header_popup {
    padding: 0 0 0 0;
    margin-right: 121px;
    background-color: #3D4FC5;
}

.menu_header_popup a {
    background-color: #3D4FC5;
}

.menu_header_popup img {
    background-color: #3D4FC5;
    width: 34px;
    height: 34px;
    border-radius: 30px;
}

.menu_header_popup img:hover {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255); 
    padding: 1px; 
    box-sizing: border-box; 
}


.popup_menu {
    display: none;
}

.popup_menu.active {
    position: absolute;
    top: 70px;
    right: 120px;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 236px;
    height: 240px;
    box-sizing: border-box;
    border: 3px solid rgb(61, 79, 197);
    border-radius: 5px;
    box-shadow: 0px 6px 10px 8px rgba(61, 79, 197, 0.08);
    color: rgb(1, 0, 0);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
}

.popup_menu ul {
    width: 204px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}

.popup_menu a {
    text-decoration: none;
    color: rgb(1, 0, 0);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    padding-left: 11px;
}

.popup_menu img {
    width: 34px;
    height: 34px;
    border-radius: 30px;
}

.menu_icons li {
    width: 204px;
    height: 54px;
    display: flex;
    align-items: center;
}

.popup_menu li:hover, .popup_menu li:hover a {
    border-radius: 8px;
    background-color: #D9D9D9;
}

.popup_menu li:hover img {
    background-color: #D9D9D9;
}

.menu_icons img {
    margin-right: 9px;
    vertical-align: middle;
    color: rgb(1, 0, 0);
}

.main_page_registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    height: 650px;
}

.main_page_registration .h2_registr {
    width: 483px;
    height: 38px;
    display: flex;
    align-items: center;
    color: rgb(61, 79, 197);
    font-family: "Rubik";
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}

.h2_registr p {
    margin: 0px;
    height: 38px;
}

.main_page_registration .h3_registr {
    width: 242px;
    height: 24px;
    margin-top: 24px;
    color: rgb(1, 0, 0);
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
}

.h3_registr p {
    margin: 0px;
}

.main_page_registration .h4_registr {
    width: 193px;
    height: 19px;
    margin-top: 16px;
    color: rgb(1, 0, 0);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.h4_registr p {
    margin: 0px;
}

.main_page_registration a {
    color: #3D4FC5;
}

.main_page_registration .form_registr input {
    margin-top: 24px;
    border-radius: 30px;
    background-color: rgb(61, 79, 197);
    width: 324px;
    height: 52px;
    border-width: 0px;
}

.main_page_registration .form_registr input:focus {
    background-color: #fff; /* цвет фона при фокусе на поле ввода */
    outline: none;
    box-shadow: inset 0 0 0 1px rgb(61, 79, 197);
}

.white-background {
    background-color: #fff !important; /* белый цвет фона */
    box-shadow: inset 0 0 0 1px rgb(61, 79, 197) !important;
}

.myInput.error.white-background {
    box-shadow: inset 0 0 0 1px red !important; /* красная рамка в случае ошибки */
}

.myInput.success {
    border: 1px solid green; /* зелёная рамка при успешном вводе */
}

.myInput {
    font-size: 18px; /* Установка размера шрифта */
}

input {
    padding-left: 24px;
}

input::placeholder {
    text-indent: 0px;
    left: 24px;
    right: 251px;
    top: 16px;
    bottom: 15px;
    color: rgb(176, 190, 197);
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.errorMessageField {
    color: rgb(204, 4, 4);
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.main_page_registration .checkbox {
    display: flex;
    align-items: center;
    margin-left: 17%;
    width: 220px;
    height: 20px;
    margin-top: 24px;

}

.main_page_registration .checkbox input {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-right: 10px;
}

.main_page_registration .checkbox p {
    margin: 0px;
}

.checkbox {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
}

#errorMessageCheckbox {
    display: flex;
    align-items: center;
    margin-left: 17%;
    margin-top: 6px;
}

.main_page_registration .form_registr button {
    margin-top: 45px;
    margin-left: 17%;
    width: 218px;
    height: 48px;
    border-radius: 30px;
    background: rgb(33, 158, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-transform: uppercase;
    border-width: 0px;
    cursor: pointer;
}

.main_page_registration .form_registr button a {
    cursor: pointer;
}

.main_page_registration .form_registr button:hover {
    background-color: #167D4A;
}
